{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>
            Dodawanie Książki
        </h1>
        <br/>
        <div class="container text-center">
            <div class="row">
                <div class="col-8">
                    {% if books %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" width="2%"></th>
                                    <th scope="col">Nazwa Książki</th>
                                    <th scope="col">Autor</th>
                                    <th scope="col">Miejsce</th>
                                    <th scope="col">Kategoria</th>
                                    <th scope="col">Data Wypożyczenia</th>
                                    <th scope="col">Osoba Wypożyczająca</th>
                                    <th scope="col">Uwagi</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                {% for book in books %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ book.title }}</td>
                                        <td>{{ book.author }}</td>
                                        <td>{{ book.location }}</td>
                                        <td>{{ book.category.all|join:'-' }}</td>
                                        <td>
                                            {% if book.borrow_date %}
                                                {{ book.borrow_date }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if book.borrower %}
                                                {{ book.borrower }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if book.notes|length > 20 %}
                                                {{ book.notes|slice:":20" }}...
                                            {% else %}
                                                {{ book.notes }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p> Brak książek na liście. </p>
                    {% endif %}
                </div>
                <div class="col-4">
                    <form action="" method=POST>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Zapisz" class="btn btn-secondary">
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <h3>
            Wybacz, ale musisz być zalogowany, aby wejść na tą stronę.
        </h3>
        <a href="{% url 'login' %}">Zaloguj się</a>
    {% endif %}
{% endblock  %}