{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-4">
                <h1>
                    Lista Osób - Admin
                </h1>
            </div>
            <div class="col-6">
                <br/>
                <form class="d-flex" method=POST action="{% url 'search-peoples-admin' %}" role="search">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Wyszukaj osobę" aria-label="Search" name="searched" style="width: 70%;">
                </form>
            </div>
            <div class="col-2 text-center">
                <br/>
                {% comment %} <a class="btn btn-outline-success" href="{% url 'add-people' %}" role="button">Dodaj osobę</a> {% endcomment %}
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#peopleAdd">
                    Dodaj Osobę
                </button>
                <!-- Modal Add-->
                <div class="modal fade" id="peopleAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="peopleAddLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="peopleAddLabel">Dodawanie osoby do listy</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="" method="POST">
                                <div class="modal-body">
                                        {% csrf_token %}
                                        {{ form.as_p }}                                        
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cofnij</button>
                                    <input type="submit" value="Zapisz" class="btn btn-secondary">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="container text-center">
            <div class="row">
                <div class="col-12">
                    {% if peoples %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" width="2%"></th>
                                    <th scope="col" class="text-start">Imię</th>
                                    <th scope="col" class="text-start">Nazwisko</th>
                                    <th scope="col">Uwagi</th>
                                    <th scope="col">Kontakt</th>
                                    <th scope="col" class="text-end" width="12%">Edytuj/Usuń</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                {% for people in peoples %}
                                    <tr>
                                        <th scope="row">{{ people.id }}</th>
                                        <td class="text-start">{{ people.first_name }}</td>
                                        <td class="text-start">{{ people.last_name }}</td>
                                        <td>{{ people.note }}</td>
                                        <td>{{ people.contact }}</td>
                                        <td class="text-end">
                                            <a href="{% url 'update-people' people.id %}" class="btn btn-outline-warning">Edytuj</a>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#peopleDelete_{{people.id}}">
                                                Usuń
                                            </button>
                                            <!-- Modal Delete -->
                                            <div class="modal fade" id="peopleDelete_{{people.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex"-1" aria-labelledby="peopleDeleteLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="peopleDeleteLabel">Usuwanie Osoby</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Czy na pewno chcesz usunąć osobę: "{{ people.first_name}} {{ people.last_name }}" z listy?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cofnij</button>
                                                            <a href="{% url 'delete-people' people.id %}" class="btn btn-outline-danger">Usuń</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p> Brak osób na liście. </p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <h3>
            Wybacz, ale musisz być zalogowany, aby wejść na tą stronę.
        </h3>
        <a href="{% url 'login' %}">Zaloguj się</a>
    {% endif %}
{% endblock  %}
