{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-12">
                <h1>
                    Wyszukiwana kategoria: {{ searched }}
                </h1>
            </div>
        </div>
        <br/>
        <div class="container text-center">
            <div class="row">
                <div class="col-12">
                    {% if categories %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" width="2%"></th>
                                    <th scope="col" class="text-start">Nazwa Kategorii</th>
                                    <th scope="col" class="text-end" width="12%">Edytuj/Usuń</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                {% for category in list_categories %}
                                    <tr>
                                        <th scope="row">{{ category.id }}</th>
                                        <td class="text-start">{{ category.name }}</td>
                                        <td class="text-end">
                                            <a href="{% url 'update-category' category.id %}" class="btn btn-outline-warning">Edytuj</a>
                                            <a href="{% url 'delete-category' category.id %}" class="btn btn-outline-danger">Usuń</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <caption>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        {% if list_categories.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page=1">&laquo</a>
                                            </li>
                                        {% endif %}
                                        {% for i in nums %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                                            </li>
                                        {% endfor %}
                                        {% if list_categories.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{list_categories.paginator.num_pages }}">&raquo</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </caption>
                        </table>
                    {% else %}
                        <p> Nie znaloziono kategorii: {{ searched }}
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <h3>
            Wybacz, ale musisz być zalogowany/a, aby wejść na tą stronę.
        </h3>
        <a href="{% url 'login' %}">Zaloguj się</a>
    {% endif %}
{% endblock  %}