{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-12">
                <h1>
                    Wyszukiwana książka: {{ searched }}
                </h1>
            </div>
        </div>
        <br/>
        <div class="container text-center">
            <div class="row">
                <div class="col-12">
                    {% if books %}
                        <table class="table table-striped">
                            <thead>
                                <th scope="col"></th>
                                <th scope="col" class="text-start">Nazwa Książki</th>
                                <th scope="col" class="text-start">Autor</th>
                                <th scope="col">Miejsce</th>
                                <th scope="col">Kategoria</th>
                                <th scope="col">Data Wypożyczenia</th>
                                <th scope="col">Osoby Wypożyczające</th>
                                <th scope="col">Uwagi</th>
                                <th scope="col" class="text-end" width="12%">Edytuj/Usuń</th>
                            </thead>
                            <tbody class="table-group-divider">
                                {% for book in books %}
                                    <tr>
                                        <th scope="row">{{ book.id }}</th>
                                        <td class="text-start">{{ book.title }}</td>
                                        <td class="text-start">{{ book.author }}</td>
                                        <td>{{ book.location }}</td>
                                        <td>{{ book.category.all|join:'-' }}</td>
                                        <td>
                                            {% if book.borrow_date %}
                                                {{ book.borrow_date }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if book.borrower %}
                                                {{ book.borrower}}
                                            {% endif %}
                                        </td>
                                        <td>{{ book.notes }}</td>
                                        <td>
                                            <a href="{% url 'update-book' book.id %}" class="btn btn-outline-warning">Edytuj</a>
                                            <a href="{% url 'delete-book' book.id %}" class="btn btn-outline-danger">Usuń</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p> Nie znaleziono takiej książki: {{ searched }} </p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <h3>
            Wybacz, ale musisz być zalogowany/a, aby wejść na tą stronę.
        </h3>
        <a href="{% url 'login' %}">Zaloguj się</a>
    {% endif %}
{% endblock  %}